<div class="sub-element">
<h3>... Hello! I am a Sub Element!</h3>
This repository intends to practically demonstrate how to accomplish the main mechanics of development in XPR using the Bundles 2 framework.

This Element is a simple snippet of static HTML.
</div>





