<div class="sub-element">
<p>I am a Sub Element. I fetch "Article" objects based on an option passed in, and then render them.

{{#with Article}}
<h4>Title:{{Title}}</h4>
<div class="sub-element-content">
Html:
{{{Html}}}
</div>
{{/with}}

</div>
