<div class="sub-element">
<p>I am a Sub Element. I accept "Article" objects and render them. Here is a rendering of the article that was passed into me:</p>

{{#with Article}}
<h4>Title:{{Title}}</h4>
<div class="sub-element-content">
Html:
{{{Html}}}
</div>
{{/with}}

</div>
